<p style="color: green"><%= notice %></p>

<%= render @thing %>

<table>
    <thead>
        <tr>
            <th colspan="4">Equipment Functions <%= link_to "(Add)", new_equip_function_path %></th>
        </tr>
        <tr>
            <th>name</th>
            <th>tracked description</th>
            <th>value</th>
            <th>asset_reference</th>
        </tr>
    </thead>
    <tbody>
      <% @thing.equip_functions.each do |function| %>
        <%= render function %>
      <% end %>
    </tbody>
</table>

<div class="children">
  <h4>Children: <%= link_to "(Add)", new_thing_path %></h4>
  <div>
    <% @thing.components.each do |component| %>
    <%= link_to component.name, component %>
  </div>
  <% end %>
</div>

<div class="failure_modes">
  <table>
      <thead>
          <tr>
              <th colspan="4">Failure Modes <%= link_to "(Add)", new_failure_mode_path %></th>
          </tr>
          <tr>
              <th>name</th>
              <th>description</th>
              <th>impact_to</th>
              <th>criticality</th>
              <th>asset_reference</th>
          </tr>
      </thead>
      <tbody>
        <% @thing.failure_modes.each do |failure_mode| %>
          <%= render failure_mode %>
        <% end %>
      </tbody>
  </table>
</div>

<br><br><br>
<div> 
  <%= link_to "Edit this asset", edit_thing_path(@thing) %> |
  <%= link_to "Back to list of assets", things_path %>
  <%= button_to "Destroy this thing", @thing, method: :delete %>
</div>
