<p style="color: green"><%= notice %></p>

<%= render @thing %>

<table class="table">
    <thead>
        <tr>
            <th colspan="4">System</th>
        </tr>
        <tr>
          <th>id</th>
          <th>Function name <%= link_to "(Add New Function)", new_equip_function_path %></th>
          <th>id</th>
          <th>Functional Failure <%= link_to "(Add New Failure)", new_functional_failure_path %></th>
        </tr>
    </thead>
    <tbody>
      <% @thing.equip_functions.each do |function| %>
            <td><%= function.id %></td>
            <td><%= link_to function.name, function %></td>
        <% function.functional_failures.each do |functional_failure| %>
          <tr>
            <td></td>
            <td></td>
            <td><%= functional_failure.id %></td>
            <td><%= functional_failure.description %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
</table>

<div class="failure_modes">
      <table class="table">
        <thead>
          <tr>
              <th colspan="4">Failure Modes <%= link_to "(Add)", new_failure_mode_path %></th>
          </tr>
          <tr>
              <th>name</th>
              <th>description</th>
              <th>impact_to</th>
              <th>criticality</th>
              <th>asset_reference</th>
          </tr>
        </thead>
      <tbody>
        <% @thing.failure_modes.each do |failure_mode| %>
          <%= render failure_mode %>
        <% end %>
      </tbody>
  </table>
</div>

<br><br>
<div class="children">
  <h4>Children:</h4>
  <div>
    <% @thing.components.each do |component| %>
    <%= link_to component.name, component %>
  </div>
  <% end %>
</div>
<br>
<div class=""> 

      <%= link_to "Add new asset", new_thing_path, class: "" %> |
      <%= link_to "Edit this asset", edit_thing_path(@thing) %> |
      <%= link_to "Back to list of assets", things_path, class: "" %>
      <%= button_to "Delete this asset", @thing, method: :delete, class: "btn btn-outline-primary" %>

</div>
