

<tr>
<td><%= failure_mode.name %></td>
<td><%= failure_mode.description %></td>
<td><%= failure_mode.impact_to %></td>
<td><%= failure_mode.criticality %></td>
<td><%= failure_mode.thing_id %></td>
</tr>

